.containers {
    background:linear-gradient( rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6)100%),url('https://assets.nflxext.com/ffe/siteui/vlv3/7a33204b-893d-4792-8494-b9d6cbc73848/8ed3a98a-e2c2-488d-9583-93634199485d/IN-en-20210502-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.signin-form-wrapper{
    max-width: 450px;
    margin: 0 auto;
}
.signin-form{
    height: 80vh;
    background-color:rgb(0, 0, 0,0.6) ;
    border-radius: 3px;
    color: rgba(255, 255, 255);
    padding: 50px ;
}
form h1{
    font-size: 32px;
    margin-bottom: 1rem;
}
form input[type=text],form input[type=password]{
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: rgb(63, 60, 60);
    border-radius: 5px;
    margin-top: 20px;
}
.signin-button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #e50914;
    color: #fff;
    font-weight: bold;
}
.flex-item{
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.flex-item-content{
    list-style: none;
    color: #757575;
}
.flex-item-content a{
    color: #757575;
}
.help:hover{
    color: #757575;
    text-decoration: underline;
}
input[type=checkbox]{
    transform: scale(1.3);
}
.remember{
    padding-left: 10px;
}
.social{
    padding-top: 50px;
}
.social .icon .fa{
    font-size: 20px;
    color: #4267B2;
    background-color: #fff;
    border: 0;
    outline: 0;
    margin-bottom: 10px;
}
.social .icon >a{
    color:#757575;
    padding-left: 5px;
}
.icon >a:hover{
    color: #757575;
    text-decoration: none;
}
.newuser{
    color: #757575;
    margin-bottom: 10px;
}
.newuser a{
    font-size: 16px;
}
.newuser a:hover{
    text-decoration: underline;
}
.social a{
    color: white;
}
.social p{
    color: #757575;
}
.social p > span{
    color: #0071eb;
}
.social p>span:hover{
    color: #0071eb;
    text-decoration: underline;
    cursor: pointer;
}
.signin-footer{
    margin-top: 100px;
}
.box form div{
    position: relative;
}
.box form div label{
    position: absolute;
    top: 33px;
    left: 10px;
    transition: 0.1s ease;
    pointer-events: none;
    color: #757575;
}
.box input:focus ~ label{
    color: #757575;
    top: 20px;
    font-size: 10px;
}
@media only screen and (max-width: 700px){
    .logo img{
        width: 100px;
        height: 80px;
        margin-left: 10px;
    }
    .container-wrapper {
        background:linear-gradient( rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1)100%),url('https://assets.nflxext.com/ffe/siteui/vlv3/7a33204b-893d-4792-8494-b9d6cbc73848/8ed3a98a-e2c2-488d-9583-93634199485d/IN-en-20210502-popsignuptwoweeks-perspective_alpha_website_small.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .signin-form{
        padding: 10px;
    }
    .footer-links{
        
        grid-template-columns: auto auto auto;
  }
  .signin-form-wrapper{
      border-bottom: 1px solid #757575;
  }
  form input[type=text],form input[type=password]{
    width: 100%;
  }
  .signin-footer{
    margin-top: 0;
}
.footer-container{
    padding: 30px 50px;
}
}
